:root {
    font-size: 44.4%;
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: black;
}

body {
    background-color: white;
}

.nav {
    display: flex;
    height: 7rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    /* 7fffa37cbd1e */
    position: fixed;
    width: 100vw;
    top: 0rem;
    z-index: 2;

}

.logo {
    height: 7rem;
    width: 7rem;
}

.link-nav {
    text-decoration: none;
}

.nav-logo {
    display: flex;
    justify-content: space-between;
    align-self: center;
    color: black;
    width:30rem;
    font-size: 4rem;
    font-weight: 900;
    align-items: center;
    font-family: 'Acme', sans-serif;
    margin-left: 3rem;
}

.nav-items {
    margin-left: 60rem;
    display: flex;
    width: 58rem;
    justify-content: space-between;

}

.item {
    font-size: 2.4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(37, 37, 37);
    cursor: pointer;
    text-decoration: none;
}

.item:hover {
    scale: 1.1;

}


.nav-button {
    display: flex;
    width: 23rem;
    justify-content: space-around;
    margin-right: 4rem;
}

.btn {
    width: 9rem;
    height: 2.8rem;
    border: 0px;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 1px 2px black;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1.8rem;
    font-weight: 600;
}

.btn:hover {
    scale: 1.1;
}
