.h-h-bg-img {
    width: 180rem;
    /* margin: 2rem 0rem 2rem 2rem; */
    margin-top: 5rem;
    height: auto;
}

.hydro-head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    flex-direction: column;
}

.hydro-img {
    height: auto;
    width: 60rem;
    height: 60rem;
    margin: 6rem 5rem 0rem 5rem;
    border-radius: 2.5rem;
    box-shadow: 0px 0px 1rem black;
}

.hydro-img:hover {
    scale: 1.04;
    box-shadow: 0px 0px 1.5rem black;
}

.hydro-txt {
    /* box-shadow: 4px 1px 5px black; */
    padding: 6rem 5rem 0rem 5rem;
    width: 100rem;
    /* background-color: #d9f8c4; */
    border-radius: 2rem;
    display: flex;
    flex-direction: column;

}

/* .hydro-txt:hover {
    scale: 1.02;
    /* box-shadow: 0px 0px 1.5rem black; */


h1 {
    font-size: 5rem;
    margin-bottom: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

.hydro-txt-li {
    padding: 0.3rem 5rem 0rem 3rem;
    font-size: 3rem;
    font-family: 'Baloo 2', cursive;
}

li {
    margin-top: 1.2rem;
}

.link-hydro {
    color: #313bc9;
    font-family: 'Roboto', sans-serif;
    margin-top: 2rem;
    margin-left: 1150px;
    margin-right: 5rem;
    font-size: 2rem;
    text-decoration: none;
}

/* .shop-head {
     background-color: whitesmoke; 
} */

.shop-display {
    margin: 5rem 0rem;
    margin-left: auto;
    width: 90%;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.s-d-p,
.about-title {
    padding-top: 2rem;
    margin: 5rem 0rem 2rem 0rem;

    display: flex;
    justify-content: center;
}

.s-d-p-shop,
.about-txt {
    text-align: justify;
    font-weight: 400;
    letter-spacing: 0.7rem;
    margin-bottom: 2rem;
    font-size: 7rem;
    font-family: 'Anton', sans-serif;
}

.shop-item {
    background-color: white;
    /* box-shadow: 0px 0px 5px black; */
    /* border: 0.2rem solid black; */
    /* border-radius: 0.8rem; */
    width: 35rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 8px 33px 0px rgb(0 0 0 / 13%);

}

/* .shop-item:hover {
    scale: 1.05;
    box-shadow: 0px 8px 33px 0px rgb(0 0 0 / 13%);
} */

.shop-item-img {
    /* border-bottom: 0.1rem solid black; */
    background-color: white;
    margin: 2rem 2rem;
    width: 30rem;
    height: auto;
}

.shop-item-txt {
    font-family: 'Roboto', sans-serif;

    margin: 0rem 2rem 2rem 2rem;
    width: 30rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;

}

.s-i-t-c {
    font-size: 1.9rem
}

.s-i-t-p {
    font-size: 2.2rem;
}

.link-hydro {
    color: #313bc9;
    font-family: 'Roboto', sans-serif;
    margin-top: 2rem;
    align-self: flex-end;
    font-size: 2rem;
    text-decoration: none;
}

.shop-head-1 {
    display: flex;
    /* background-color: white; */
    justify-content: center;
    margin: 8rem 53rem;
    border-bottom: 0.2rem solid black;
}

.s-d-p-c {
    font-size: 3.2rem;
    font-weight: 900;
    font-family: 'Baloo 2', cursive;


}

.boad {
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    /* box-shadow: 0px 8px 33px 0px black; */
    width: 30rem;
    height: 30px;
    border: 2px solid #ffd814;
    /* background-color: #ffd814; */
    border-radius: 2rem;
    align-items: center;
}

.boad:hover {
    background-color: #ffd814;
}

.boad:active {
    background-color: #ebc714
}


.ab-m-i {
    width: 300px;
    margin: 20px;
}

.ab-m-h4 {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
}

.ab-m-h5 {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}

.ab-m-p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
}

.about-main {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 340px;
    box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 10%);
    margin-bottom: 50px;
}

.about-main-txt {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}